
<Cart products={$products} total={$total} discount={$discount} on:checkout='$checkout()' />

<script>
  import { checkout } from '../redux/actions'
  import { getTotal, getCartProducts, getDiscount } from '../redux/reducers'
  import Cart from '../components/Cart.html'
  import { connect } from '../redux/store';

  const mapStateToData = state => ({
    products: getCartProducts(state),
    total: getTotal(state),
    discount: getDiscount(state),
  })

  const mapDispatchToStore = { checkout }

  export default {
    store: connect(mapStateToData, mapDispatchToStore),
    components: { Cart }
  }
</script>
